README.md
NOTES.md

### Docker ###
docker-compose.yaml
Dockerfile
.dockerignore
*.dockerfile

### Resources ###
/src/main/resources/

### Test ###
/src/test/

### Git and Co ###
.git*

### Dev Container ###
.devcontainer/

### VS Code ###
.vscode/

### ### further from .gitignore ###

### Secrets ###
*.env

### Gradle ###
.gradle/
/gradle-wd/bin/
/gradle-wd/build/

### ### Common ###

### IDE ###
/bin/

### Logs ###
*.log
*.log.*

### MacOS ###
.DS_Store
