README.md
HELP.md

### Docker ###
docker-compose.yml
Dockerfile
.dockerignore
*.dockerfile

### Git and Co ###
.git*

### Dev Container ###
.devcontainer/

### VS Code ###
.vscode/

### ### further from .gitignore ###

### Gradle ###
.gradle/
/gradle-wd/bin/
/gradle-wd/build/

### ### Common ###

### IDE ###
/bin/

### Logs ###
*.log
*.log.*

### MacOS ###
.DS_Store
