README.md
HELP.md

### Docker ###
docker-compose.yml
Dockerfile
.dockerignore
*.dockerfile

### Git and Co ###
.git*

### Dev Container ###
.devcontainer/

### VS Code ###
.vscode/

### ### further from .gitignore ###

### Gradle ###
.gradle/
bin/
build/

### ### Common ###

### Logs ###
*.log
*.log.*

### MacOS ###
.DS_Store
